@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --background: #c4c4c4c4;
  --page: #ffffff;
  --mainFont: "Lato", sans-serif;
  --baseColor: #23549e;
  --accent: #659cf0;
  --button: #23549ee5;
  --transparent: rgba(101, 156, 240, 0.1);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--page);
  font-family: var(--mainFont);
}

h5 {
  color: var(--accent);
  font-weight: 700;
}
header {
  max-width: 48.2rem;
  height: 15.18rem;
  margin-bottom: 4.1rem;
}
.logo {
  max-width: 8.88rem;
  height: 3.75rem;
  font-family: var(--mainFont);
  font-size: 3.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.heading-container {
  padding-bottom: 2.7rem;
}

.heading-container h2,
h3,
label {
  font-family: var(--mainFont);
  color: var(--baseColor);
  font-weight: 700;
}

.heading-container h2 {
  font-size: 3rem;
  /* padding-bottom: 0.35rem; */
  padding-bottom: 1.7rem;
  /* line-height: 2.4rem; */
}
.heading-container h3 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.69rem;
  margin-bottom: 4.69rem;
}

#signin label {
  color: var(--baseColor);
  font-family: var(--mainFont);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  /* color: red; */
}
#signin p {
  color: var(--accent);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--mainFont);
  line-height: 1.5rem;
  margin-bottom: 1.38rem;
}
#signin input {
  color: var(--baseColor);
  font-family: var(--mainFont);
  font-size: 1.3rem;
  width: 100%;
  max-width: 62.5rem;
  /* max-width: 31.25rem; */
  height: 5rem;
  outline: none;
  border: none;
  border: 2px solid var(--baseColor);
  border-radius: 0.63rem;
  padding: 0 1rem;
}
input::placeholder {
  color: var(--accent);
}
.button-container {
  height: 7rem;
  width: 83%;
  max-width: 62.5rem;
  margin-top: 6.69rem;
}
.double-btns button:first-child {
  background-color: transparent;
  border: 1px solid var(--baseColor);
  color: var(--baseColor);
}
.next {
  background-color: var(--baseColor) !important;
  color: var(--page) !important;
}
.button {
  background-color: var(--baseColor);
  font-size: 1.75rem;
  font-family: var(--mainFont);
  font-weight: 700;
  text-decoration: none !important;
  line-height: 2.1rem;
  width: 13.8rem;
  height: 6.125rem;
  border: none;
  border-radius: 0.625rem;
  transition: background-color 0.5s ease;
}
.button:hover,
.button:active,
.button:focus {
  background-color: var(--button);
}
.lines {
  height: 15.18rem;
  max-width: 23rem;
  overflow-x: hidden;
}
.lines span {
  border-color: var(--accent) !important;
}
.lines span:first-child {
  width: 27rem;
  /* margin-bottom: 0.95rem; */
  margin-bottom: 30.5px;
}
.lines span:nth-child(2) {
  /* margin-bottom: 1.1rem; */
  margin-bottom: 35.5px;
  width: 18.3rem;
}
.lines span:last-child {
  width: 13.6rem;
}

.formHeading h3 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 3.06rem;
}
.range-container {
  width: 80%;
  max-width: 40rem;
  /* width: 10rem; */
}
.range-container span {
  padding: 1.37rem !important;
  margin-top: 1.18rem !important ;
}
.range-container small {
  height: 0;
  width: 7.4rem !important;
  margin-top: 3.18rem;
}
.section label {
  font-size: 0.75rem;
  color: var(--baseColor);
}
.section span {
  background-color: var(--background);
}
.section small {
  border: 0.1px solid var(--accent);
  background-color: var(--accent);
  width: 80%;
  max-width: 7.4rem;
}
.active {
  background-color: var(--accent) !important;
}

.sub-text {
  width: 100% !important;
  max-width: 100rem !important;
  color: var(--accent) !important;
  background-color: transparent !important;
  font-size: 1.25rem;
}
Label {
  color: var(--baseColor) !important;
  font-size: 1.5rem !important;
  /* text-align: center; */
}
.registration-input {
  border-color: var(--accent);
  border-radius: 0.625rem !important;
  border-top: 1px solid var(--accent);
  color: var(--baseColor) !important;
  outline: none;
  transition: border 0.01s ease;
  max-width: 62.5rem !important;
  height: 5rem;
}

.field-container {
  /* background-color: red; */
  margin-bottom: 2.8rem !important;
}

.registration-input:active,
.registration-input:focus {
  border: 2px solid var(--accent) !important;
  box-shadow: 1px 1px 2px var(--background);
}
.text-area {
  outline: none;
  border-color: var(--accent);
  border-radius: 0.625rem !important;
  height: 11.3rem;
  color: var(--baseColor);
  max-width: 62.5rem;
  margin-bottom: 2.8rem;
}
.text-area:active,
.text-area:focus,
select:active,
select:focus {
  outline-color: var(--accent);
}

select {
  color: var(--accent);
  border-color: var(--accent);
  border-radius: 0.625rem;
  height: 5rem;
  width: 100%;
  max-width: 62.5rem !important;
  margin-top: 22px;
  padding: 0 2rem;
  font-size: 1.25rem;
}
.errorBorder {
  border-color: red;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7.97rem;
  height: 4.43rem;
  border: 2px solid --baseColor;
}

.toggle-container {
  width: 15.2rem;
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.8rem;
  /* margin-left: 9rem !important; */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--page) !important;
  border: 1px solid var(--accent);
  border-radius: 2.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* background-color: red !important; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 17.46%;
  right: 50.79%;
  bottom: 23.94%;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2.5rem;
}

input:checked + .slider {
  background-color: var(--page) !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.otp-input-container {
  max-width: 68.75rem;
  margin-top: 4.69rem;
}

.otp input {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  color: var(--baseColor);
  border: 2px solid var(--baseColor);
  outline-color: var(--baseColor);
  background-color: var(--page);
  border-radius: 0.6rem;
}
otp div:last-child {
  color: #000000;
}
.otp span {
  color: var(--baseColor);
}
.onboarding-container div:first-child {
  height: 9.375rem;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
.onboarding-container div:first-child h3 {
  align-self: flex-end;
  height: 2.1rem;
  text-align: center;
  line-height: 2.1rem;
}

.onboarding-container div:nth-child(2) {
  max-width: 62.8rem;
  margin-top: 7.4rem;
}
.onboarding-container div:nth-child(3) h3 {
  margin-top: 4.2rem;
  color: var(--accent) !important;
  font-weight: 400;
  text-align: center;
  line-height: 1.87rem;
}
.onboarding-container div:nth-child(4) {
  margin-top: 2.12rem !important;
}
.col-1 {
  width: 27.12rem !important;
  /* background-color: red; */
}
.sidebar-container {
  height: 100vh;
  height: fit-content;
  width: 22.12rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
  border-radius: 3.125rem;
  margin-bottom: 3rem;
  background-color: var(--transparent);
}
.side-bar {
  border-radius: 3.125rem;
}
.nav-bar {
  display: none !important;
}
#offcanvasNavbar {
  overflow-y: auto !important;
  max-width: 22.12rem !important;
  background-color: var(--page);
}

.sidebar-logo {
  height: 10.125rem;
}
.sidebar-heading {
  padding: 1.25rem 0;
  margin-left: 3.5rem;
}

.side-bar div h3,
.links {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.side-bar div h3 {
  color: var(--accent);
}
.dashboard-link {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.dashboard-link-active {
  background-color: var(--page);
}

.links {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: var(--baseColor);
  margin-left: 3.38rem;
  cursor: pointer;
  /* margin-top: 2.875rem; */
}

.col-2 {
  width: calc(100% - 27.12rem);
}

.details-container {
  padding-top: 4.69rem;
  padding-bottom: 4rem;
  max-width: 1654.06px;
}
.details-card {
  width: 27.45rem !important;
  height: 13.02rem;
  margin-left: 1rem;
  background-color: var(--transparent);
  border-radius: 2.23rem;
}
.details-card h3 {
  font-size: 1.27rem;
  line-height: 1.56rem;
  margin-bottom: 2.34rem;
  color: var(--accent);
}
.details-card h2 {
  font-size: 3.06rem;
  font-weight: 700;
  line-height: 3.69rem;
  color: var(--baseColor);
}
.overview .top-tab {
  height: 10rem;
  margin-left: 1rem;
}
/* .top-tab > div {
  /* max-width: 60rem; */
*/ .top-tab Button {
  width: 10.21rem;
  height: 4.47rem;
  font-size: 0.96rem;
  line-height: 1.12rem;
  font-weight: lighter;
  background-color: var(--baseColor);
  outline: none !important;
}
/* 
add an active class with the color and a line below the tab
*/

article span {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.53rem;
  line-height: 1.81rem;
  color: rgba(35, 84, 158, 0.2);
}
.overview-tab {
  color: var(--baseColor);
}
article small {
  display: block;
  width: 0;
  height: 0;
  border-radius: 1rem;
  margin-top: 1.6rem;
  transition: width 0.5s ease;
}
.add-small {
  border: solid 2px var(--baseColor);
  /* width: 20.94rem; */
  width: 100%;
  /* background-color: var(--baseColor); */
}

.table {
  background-color: red;
  border-top-left-radius: 1.91rem !important;
  background-color: var(--page) !important;
  border-top-right-radius: 1.91rem !important;
  padding: 2rem 0 !important;
  border: none;
}

thead tr:first-child {
  height: 5.19rem;
  vertical-align: middle;
  vertical-align: center;
  justify-content: space-around;
  align-items: center;
}
tr {
  height: 6.25rem;
}
tr:nth-child(2n) {
  background-color: var(--transparent);
}

th:first-child {
  border-top-left-radius: 1.91rem !important;
}
th:last-child {
  border-top-right-radius: 1.91rem !important;
}
th {
  background-color: var(--baseColor) !important;
  font-size: 1.15rem;
  line-height: 1.38rem;
  text-align: center;
  color: var(--page);
}
td {
  font-size: 1.28rem;
  line-height: 1.51rem;
  color: var(--accent);
  vertical-align: middle;
  border: none;
  text-align: center;
}

.employee-form {
  flex-wrap: wrap;
  max-width: 65.94rem;
  /* height: 67.38rem; */
  height: fit-content;
}

textarea {
  display: block !important;
  height: 14.28rem;
  width: 100%;
  border: 2px solid var(--baseColor) !important;
  border-radius: 0.625rem !important;
  box-sizing: border-box;
}
.btn-add {
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 2;
}
.add-roles > div:nth-child(1) {
  height: 10.33rem;
}
.add-roles div {
  max-width: 62.5rem;
  /* background-color: red; */
  position: relative !important;
}

.add-roles Form div:nth-child(2) {
  height: 10.62rem;
}

.Overlay,
.Overlay-alert {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.Overlay-alert {
  background-color: rgba(0, 0, 0, 0.2);
}
.Overlay-alert .alert {
  max-width: 50rem;
  margin-left: auto;
}
.alert .alert-heading {
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  /* max-width: 75.06rem; */
  height: fit-content;
  padding: 2rem;
  background-color: #fff;
  border-radius: 3.13rem;
  transform: translate(-50%, -50%);
  outline: transparent;
}

@media screen and (min-width: 576px) {
  .toggle-input {
    width: 85% !important;
  }
}

@media screen and (min-width: 500px) {
  .otp input {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 780px) {
  .otp input {
    width: 6.25rem;
    height: 6.25rem;
  }
}
/* @media screen and (min-width: 780px) {
  .otp input {
    width: 6.25rem;
    height: 6.25rem;
  }
}  }
} */
@media screen and (max-width: 700px) {
  .col-2 {
    width: 100% !important;
  }
  .nav-bar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--page) !important;
    height: 5rem !important;
  }
  .details-card h3 {
    font-size: 0.98rem;
    line-height: 1.26rem;
  }
  .details-card h2 {
    font-size: 1.8rem;
    line-height: 1.69rem;
  }
  .top-tab {
    /* display: none !important; */
    width: 100% !important;
  }
  .overview svg {
    height: 4rem;
  }
  .overview span {
    font-size: 1.23rem;
  }
  .overview-btn .button {
    width: 7rem;
  }

  .add-roles .button-container {
    margin-top: 3.69rem;
  }
  .add-roles form div:nth-child(2) {
    height: 9.4rem !important;
  }
}

@media screen and (max-width: 768px) {
  .formHeading h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .range-container {
    width: 100%;
  }
  .range-container span {
    padding: 0.78rem !important;
    /* margin-top: 1.18rem !important ; */
  }

  Label {
    color: var(--baseColor) !important;
    font-size: 1rem !important;
  }
  .sub-text {
    color: var(--accent) !important;
    background-color: transparent !important;
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
    width: 6.9rem;
    height: 3.88rem;
  }
  .onboarding-container div:nth-child(2) {
    height: 20rem;
  }
  .nav-bar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--page) !important;
    height: 5rem !important;
  }
  .details-container {
    height: 50rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center !important;
  }

  .col-2 {
    width: 100vw !important;
  }

  article span {
    font-size: 1.13rem;
  }
  .overview-btn .button {
    width: 7rem;
  }
  .details-card {
    width: 100% !important;
    /* max-width: 40.63rem; */
    margin-left: 0 !important;
  }
  .overview-btn {
    display: none;
  }
}

@media only screen and (min-width: 772px) and (max-width: 991px) {
  .col-2 {
    width: 100vw !important;
    /* background-color: yellow !important; */
    /* max-width: calc(100.5rem - 27.12rem); */
  }

  .details-card h3 {
    font-size: 0.98rem;
    line-height: 1.26rem;
  }
  .details-card h2 {
    font-size: 2.06rem;
    line-height: 1.69rem;
  }
  .overview svg {
    height: 4rem;
  }

  article span {
    font-size: 1.2rem;
  }
  .nav-bar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--page) !important;
    height: 5rem !important;
  }
  .overview-btn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .lines {
    max-width: 17rem;
  }
  .lines span:first-child {
    width: 14rem;
  }
  .lines span:nth-child(2) {
    width: 10rem;
  }
  .lines span:last-child {
    width: 8rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .row {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .nav-bar {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--page) !important;
    height: 8rem !important;
  }
  .details-card h3 {
    font-size: 0.98rem;
    line-height: 1.26rem;
  }
  .details-card h2 {
    font-size: 2.06rem;
    line-height: 1.69rem;
  }
  .overview svg {
    height: 4rem;
  }

  article span {
    font-size: 1.2rem;
  }
  .col-1 {
    display: none !important;
  }
  .overview-btn {
    display: none;
  }
}
